*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 5px;
}
h1{
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
p{
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
footer{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
th{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
td{
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body{
    background-color: rgba(211, 211, 211, 0.253);
}
img{
    border: solid 2px black;
    border-radius: 10%;
}
table{
    margin: 10px;
}

iframe{
    border: solid 3px black;
}